extends layout

mixin content(part, name, content)
  - var rendered = renderer(content)
  if content.status == 'done'
    h3= name
    ul(class='nav nav-pills', id='#{part}Content')
      each render, i in rendered
        li(class=(i==0? 'active' : ''))
          a(href='##{part}_#{render.name}', data-toggle='tab')= render.name
    div(class='tab-content')
      each render, i in rendered
        div(class='tab-pane#{i==0 ? ' active' : ''}', id='#{part}_#{render.name}')
          != render.content
  

block content
  div(class='row')
    div(class='span6')
      h1= exchange.method
      p(style='color: #333')
        span http://
        span(style='color: #999')= exchange.host
        span= exchange.path
      h3 Headers
      table(class='table table-headers')
        for val, header in exchange.requestHeaders
          tr
            th= header
            td
              tt= val

    div(class='span6')
      h1 #{exchange.responseStatus} #{exchange.responsePhrase}
      h3 Headers
      table(class='table table-headers')
        for val, header in exchange.responseHeaders
          tr
            th= header
            td
              tt= val

  mixin content('request', 'Request Data', exchange.requestData)
  mixin content('response', 'Response Data', exchange.responseData)


