extends layout

block content
  h2 exchange
  p #{exchange.method} #{exchange.host}#{exchange.path}
  div(class='row')
    table(class='table table-bordered span4')
      tr
        th(style='width: 130px;') Host
        td #{exchange.host}
      tr
        th Path
        td #{exchange.path}
      tr
        th Method
        td #{exchange.method}
      tr
        th Port
        td #{exchange.port}
  table(class='table table-bordered')
    tr
      th Header
      th Value
    for val, header in exchange.requestHeaders
      tr
        td(style='width: 130px')= header
        td= val
  p= exchange.requestData.status
  if exchange.requestData.status == 'done'
    for render in renderer(exchange.requestData)
      != render
  h2 response
  p Code: #{exchange.responseStatus}
  table(class='table table-bordered')
    tr
      th Header
      th Value
    for val, header in exchange.responseHeaders
      tr
        td(style='width: 130px')= header
        td= val
  p= exchange.responseData.status
  if exchange.responseData.status == 'done'
    for render in renderer(exchange.responseData)
      != render

