extends layout

block content
  div(class='row')
    div(class='span6')
      h1= exchange.method
      p(style='color: #333')
        span http://
        span(style='color: #999')= exchange.host
        span= exchange.path
      h3 Headers
      table(class='table table-headers')
        for val, header in exchange.requestHeaders
          tr
            th= header
            td
              tt= val

    div(class='span6')
      h1 #{exchange.responseStatus} #{exchange.responsePhrase}
      h3 Headers
      table(class='table table-headers')
        for val, header in exchange.responseHeaders
          tr
            th= header
            td
              tt= val

  if exchange.requestData.status == 'done'
    h3 Request Data
    for render in renderer(exchange.requestData)
      != render

  if exchange.responseData.status == 'done'
    h3 Response Data
    for render in renderer(exchange.responseData)
      != render
