extends layout

block content
  h1 watch
  p Interceptor URL: 
    a(href=shortURL)= shortURL
  p Host: 
    a(href='http://#{host}')= host
  table(class='table table-striped table-bordered table-condensed')
    thead
      tr
        th(style='width: 40px;') Status
        th(style='width: 40px;') Method
        th Path
        th(style='width: 170px;') Content Type
        th(style='width: 120px;') Content Length
        th(style='width: 80;') View
    tbody
      each exchange in stream
        tr
          td= exchange.responseData.status
          td= exchange.responseStatus
          td= exchange.method
          td= exchange.path
          td= exchange.responseHeaders['content-type']
          td= exchange.responseHeaders['content-length']
          td
            a(href='/exchange/#{exchange.id}') view

