extends layout

block head
  meta(name='attach-transcript', content=interceptor.id)

block content
  - var interUrl = interceptor.id + '.' + settings['proxy host']
  h1 #{interUrl} &rarr; #{interceptor.host}

  // ko ifnot: exchanges().length > 0 
  p Your interceptor URL has been created! Simply replace 
    samp= interceptor.host 
    |  with 
    samp= interUrl 
    |  in your code to start tracking requests. 
    | Request data will appear here once it starts to come in.
    | HTTP and HTTPS requests will work.
  p You should bookmark this page if you want to access the   
    data in the future.
  // /ko
  // ko if: exchanges().length > 0 
  table(class='table table-striped table-condensed')
    thead
      tr
        th(style='width: 40px;') Method
        th(style='width: 40px;') Status
        th Path
        th(style='width: 170px;') Content Type
        th(style='width: 80px;') Size
        th(style='width: 36px;')
    tbody(data-bind='foreach: exchanges')
      tr
        td(data-bind='text: method')
        td(data-bind='text: $data.responseStatus')
        td(data-bind='text: path')
        td(data-bind='text: $data.responseHeaders && responseHeaders["Content-Type"] && responseHeaders["Content-Type"].split(";")[0]')
        td(data-bind='text: $data.responseHeaders && responseHeaders["Content-Length"]')
        td
          a(class='btn btn-mini btn-primary', data-bind='attr:{href:"/exchange/"+_id}') view
  // /ko

